.section-subscribe{
  text-align: center;
  position: relative;
  .icon-square-5{
    position: absolute;
    left: 64px;
    bottom: 64px;
  }
  .section-title{
    margin-top: 100px;
    margin-bottom: 44px;
  }
  .section-subscribe-email{
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 768px){
  .section-subscribe{
    .icon-square-5{
      width: 87px;
      height: 100px;
      bottom: 16px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}