.section-home{
  background: url('/static/bg/section-banner.png') center top no-repeat;
  background-size: cover;
  .fp-tableCell{
    display: block;
    height: 100%;
  }
  .banner-title{
    font-family: 'lato-black';
    font-weight: bold;
    font-size: 64px;
    color: #3a478f;
    margin-top: 200px;
  }

  .banner-btn{
    font-family: 'lato-black';
    margin-top: 60px;
    font-size: 17px;
    color: #fff;
    padding: 18px 32px;
    border: none;
    border-radius: 5px;
    background: #0f77ff;
  }
  .banner-blocks{
    position: absolute;
    width: 900px;
    bottom: 520px;
    right: 130px;
    .icon-banner-block-group-1{
      left: 0;
      top: 0;
      position: absolute;
      z-index: 30;
    }
    .icon-banner-block-group-2{
      left: 380px;
      top: 70px;
      position: absolute;
      z-index: 36;
    }
    .block-1{
      position: absolute;
      left: 585px;
      top: 16px;
      z-index: 31;
    }
    .block-2{
      position: absolute;
      left: 485px;
      top: 76px;
      z-index: 32;
    }
    .block-3{
      position: absolute;
      left: 385px;
      top: 136px;
      z-index: 33;
    }
    .block-4{
      position: absolute;
      left: 285px;
      top: 196px;
      z-index: 34;
    }
    .block-5{
      position: absolute;
      left: 185px;
      top: 256px;
      z-index: 35;
    }
    .icon-top{
      opacity: 0;
      position: absolute;
      left: 28px;
      top: 8px;
    }
  }
  .section-title-bright{
    color : #0f77ff;
  }
}

@media screen and (max-width: 768px) {
  .section-home{
    background: url('/static/bg/section-banner.jpg') center top no-repeat;
    .banner-blocks{
      display: none;
    }
    .banner-title{
      margin-top: 142px;
      font-size: 32px;
    }
  }
}