.section-partners{
  text-align: center;
  background: #f8fafb;
  .icon-square-5{
    position: absolute;
    left: 64px;
    bottom: 64px;
  }
  .section-title{
    margin-top: 202px;
    margin-bottom: 54px;
  }
  .partner-item{
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 768px){
  .section-partners{
    .icon-square-5{
      width: 87px;
      height: 100px;
      bottom:120px;
      left: 0;
      right: 0;
      margin: auto;
    }

  }
}