.section-roadmap {
  color: #fff;
  background: url('/static/bg/section-roadmap.jpg') center top no-repeat;
  background-size: cover;
  text-align: center;
  .icon-square-4 {
    position: absolute;
    right: 64px;
    bottom: 64px;
  }
  .section-title {
    margin-top: 256px;
    margin-bottom: 80px;
  }
  .roadmap-title-active {
    color: #6babff;
  }

  .time-dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
  }
  .time-bar {
    width: 100px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background: -webkit-linear-gradient(left, #0f77ff, #fff); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0f77ff, #fff); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0f77ff, #fff); /* Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0f77ff, #fff); /* 标准语法 */
  }
  .time-date {
    margin-top: 8px;
    font-size: 18px;
    text-align: left;
  }
  .timeline-item-active {
    transition: opacity .2s ease-out;
    opacity: 0;
    position: absolute;
    top: 88px;
    left: -100px;
    z-index: 100;
    text-align: left;
    vertical-align: middle;
    width: 256px;
    border-radius: 20px;
    padding: 24px 20px;
    font-size: 18px;
    background: #fff;
    margin-bottom: 40px;
    .icon-triangle{
      position: absolute;
      top: -12px;
      left: 0;
      right: 0;
      margin: auto;
    }
    .timeline-upcoming-date {
      color: #0f77ff;
      margin-bottom: 8px;
    }
    .timeline-upcoming-event {
      color: #3a478f;
    }
  }
  .timeline-item {
    display: inline-block;
    position: relative;
    text-align: left;
    &:hover {
      .timeline-item-active {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-roadmap {
    .icon-square-4 {
      display: none;
      //width: 87px;
      //height: 100px;
      //bottom: 0px;
      //left: 0;
      //right: 0;
      //margin: auto;
    }
    .section-title{
      margin-top: 30px !important;
      margin-bottom: 36px !important;
    }
    .timeline-item{
      display: block;
      margin-bottom: 10px;
      .timeline-item-normal {
        display: none;
      }

      .timeline-item-active {
        opacity: 1;
        border-radius: 10px;
        font-size: 14px;
        display: block;
        position: relative;
        padding: 10px;
        left: 0;
        top: 0;
        width: 100%;
        margin-bottom: 12px;
        .icon-triangle{
          display: none;
        }
      }
    }
  }
}