.header{
  color: #3a478f;
  background: #fff;
  padding-top: 36px;
  //padding-bottom: 36px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  #header-nav{
    li{
      a{
        padding-bottom: 36px;
        text-decoration: none;
        display: block;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
      &.active{
        a{
          color: #0f77ff;
          border-bottom:4px solid #0f77ff;
        }
      }

    }
  }
  .icon-logo{
    vertical-align: middle;
  }
  .header-nav-wrap{
    display: inline-block;
  }
  .header-nav{
    font-size: 14px;
    margin-left: 40px;
    display: inline-block;
    li{
      display: inline-block;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .language-nav{
    float: right;
    margin-top: 6px;
    .icon-lang-en, .icon-lang-zh{
      margin-right: 8px;
    }
    .glyphicon{
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header{
    .header-nav-wrap{
      display: none;
    }
  }
}